
/*layouts*/

div.container { 

	width: 100%;
	
}

header {
	padding: 1em;
	color: #3F46DA;
	clear:left;
	text-align: center;

	 /*gradiente*/
	background-image: url("../images/degradado.png");
    background-repeat: repeat-x;
}

/* Nav Bar*/ 

nav{
	float: left;
	max-height: 200;
	margin:0;
	padding: 1em;

}

ul {
   
     
   	list-style-type: none;
   	margin: 0;
    padding: 1em;
    background-color: #f1f1f1;
    position:none;
    height: 100%;
    overflow: auto;
    text-align: left;   
   

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #3A3A3C;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/*Tablas*/

table {
	border: collapse;
	width: 80%;

}

th, td {
	border-style:solid;
	padding:8px ;
	text-align: left;
	border: 1px solid;
}

th { background-color: #f2f2f2;
	color:#0E0E0F;

}

 tr:hover {
	background-color: #EAE9E9 
}

/* Remarcar celdas
tr:nth-child(even) {
	background-color: #f2f2f2;
}
*/

h1 {
	
	text-decoration-color: #6471BE;

}

h1.tablatitulo{
	
}


/* Botones */

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}
.myButton:active {
	position:relative;
	top:1px;
}

